#fond
{
background-image: url("IMAGES/bleu.jpg");
/* position: absolute; */
margin-right: 0px;
/* width: 716px; */
height: 511px;
background-repeat: no-repeat;
max-width: 100%;
}
 
#img
{
background-image: url("anonyme.png");
background-position:center; 
position: absolute;
width: 716px; 
height: 511px;
margin-top: -350px; 
}

.containe{
    position: absolute;
    margin-top: 50px;
}

.vertical-nav {
    text-align: center;
    position: fixed;
    top: 160px;
    left: 0;
    width: 200px;
    height: 100%;
    /* background-color: #f8f8f8; */
    overflow-y: auto;
    padding-top: 30px
  }

  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
  }

  #right {
      position: fixed;
      right: 0;
  }

  #main {
      margin-top: 120px;
  }

  body{
      background-color: black;
  }

  #commentaires {
      color: white;
  }

  .comment-icons {
      display: flex;justify-content: space-around;
  }
   
button{
    font-size: 10px;
                    position:relative  ;
                    bottom: 0px;
                 left: 495px;
                    height: 40px;
                    width: 100px;
}

#message{
    
   width: 40px;
     height:40px;
}

#texte{
    color: white;
}

.tcheck{
    color: rgb(7, 231, 231);
}
.comment-count {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.commentaire {
    padding: 20px;
}